<div class="container">
    <div>
        <h4 class="header">
            Sekcja {{sectionNumber}}
        </h4>
        <div class="grid-container">
            <div class="grid-item">
                <mat-form-field appearance="fill">
                    <input matInput maxlength="100" [(ngModel)]="section!.name"/>
                </mat-form-field>
            </div>
            <div class="grid-item">
                <mat-form-field appearance="fill">
                    <mat-label>Widoczność</mat-label>
                    <mat-select [(value)]="visibility">
                      <mat-option *ngFor="let visibility of allVisibilities"
                      [value]="visibility">
                        {{ visibilityDisplaySelector[visibility] }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <mat-form-field appearance="fill">
                    <mat-label>Grupa</mat-label>
                    <mat-select [(value)]="section!.respondentsGroupId"
                    [disabled]="visibility !== 1">
                        <mat-option *ngFor="let group of respondentsGroups"
                        [value]="group.id">
                        {{ group.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="questions">
            <button mat-button
            color="primary"
            class="create-question-button"
            (click)="addQuestion(0)"
            *ngIf="section!.questions.length === 0">
                Add first question
            </button>
            <app-create-question *ngFor="let question of section!.questions"
            (addQuestionBelowEvent)="addQuestionBelow($event)"
            (removeEvent)="removeQuestion($event)"
            [question]="question"
            [sectionsToBeTriggered]="sectionsToBeTriggered"/>
        </div>
        <div class="wrap-panel">
            <button mat-flat-button color="primary" 
            (click)="addQuestion(section!.questions.length)">
                 Dodaj pytanie
                <mat-icon>add</mat-icon>
             </button>
            <button mat-stroked-button
            (click)="addSectionBelow()">
                Dodaj sekcję 
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>
