@import "../../../../../styles/variables.scss";

.container{
    padding: 10px;
}

.questions-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;;
}

mat-card{
    max-width: 1200px;
    margin: 0 auto;
    background-color: $background-secondary;
}

mat-card-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-error{
    text-align: center;
    font-size: 20px;
}

.text-center{
    text-align: center;
}