<div class="container">
    <app-buttons-ribbon [buttons]="ribbonButtons"/>
    <h3>
        {{ 'startSurvey.description' | translate }}
    </h3>
    <div class="spinner-container" *ngIf="isBusy">
        <mat-spinner/>
    </div>
    <h3 *ngIf="!isBusy && loadingErrorOccured">
        <mat-error>
          {{ 'startSurvey.couldNotLoadStartSurvey' | translate }}
        </mat-error>
      </h3>
    <mat-card *ngIf="!loadingErrorOccured && !isBusy">
        <mat-card-header>
            <h3>{{ 'startSurvey.questions' | translate }}</h3>        
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="questions.length === 0" class="text-center">
                <h3>
                    {{ 'startSurvey.thereAreNoQuestions' | translate }}
                </h3>
            </div>
            <div class="questions-container">
                <app-start-survey-question *ngFor="let question of questions" [question]="question"
                (removeQuestionCallback)="removeQuestion($event)"
                [allQuestions]="questions"/>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button mat-flat-button color="primary" (click)="addQuestion()">
                <mat-icon>add</mat-icon>
                {{ 'startSurvey.addQuestion' | translate }}
            </button>
            <button mat-stroked-button (click)="save()">
                <mat-icon>save</mat-icon>
                {{ 'startSurvey.saveNewQuestions' | translate }}
            </button>
        </mat-card-footer>
    </mat-card>
</div>
