.container {
  padding: 10px;
  height: 100%;
}

h3 {
  text-align: center;
}

.top-ribbon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  align-items: center;
}

.table-container{
  text-align: center;
  height: calc(100% - 160px); /* substract paginator height here */
  overflow-y: auto;
  display: block;
}

mat-header-row,
mat-header-cell {
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-input {
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}