.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-provider-card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-form-field {
        width: 260px;
    }
}
