<div class="container">
  <div class="wrap-panel">
    <button mat-flat-button color="primary" (click)="addSendingPolicy()">
      {{ "surveyDetails.surveySendingPolicy.craeteNewSendingPolicy" | translate }}
    </button>
    <mat-slide-toggle [(ngModel)]="deleteMode" labelPosition="before">
      {{ "surveyDetails.surveySendingPolicy.deleteMode" | translate }}
    </mat-slide-toggle>
    <div [matTooltip]="!deletingEnabled() ? ('surveyDetails.surveySendingPolicy.selectTimeSlotsToDeleteFirst' | translate) : ''">
      <button 
        *ngIf="deleteMode" 
        mat-stroked-button 
        color="warn" 
        (click)="deleteSelected()" 
        [disabled]="!deletingEnabled()">
        {{ "surveyDetails.surveySendingPolicy.delete" | translate }}
      </button>
    </div>
  </div>
  <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
</div>
