.container{
    padding: 20px;
    display: block;
    overflow-y: scroll;
    height: calc(100vh - 150px);
}


mat-slide-toggle{
    font-weight: 600;
}

.wrap-panel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}