<h3>
    Options:
</h3>
<div *ngFor="let option of options; let i = index" class="option-container">
    <h1 class="option-index">{{ i + 1 }}</h1>
    <mat-form-field class="option-input">
        <input matInput [(ngModel)]="option.content">
    </mat-form-field>
    <button mat-button class="remove-option-button" (click)="removeOption(i)"
    color="warn">
        Remove
    </button>
</div>
<mat-form-field appearance="fill" class="full-width">
    <mat-label>Content</mat-label>
    <input matInput [(ngModel)]="newOptionContent" (keydown)="confirmNewOption($event)"/>
</mat-form-field>