<mat-error *ngIf="commonOptionsError != null">
  {{ commonOptionsError }}
</mat-error>
<div *ngFor="let option of options; let i = index" class="row">
  <div class="row-item">
    <app-option [option]="option" [isReadOnly]="isReadOnly"/>
  </div>
  <mat-form-field appearance="outline" class="row-item">
    <mat-label>
      {{ 'createSurvey.createTextSelectionOptions.showSection' | translate }}
    </mat-label>
    <mat-select [(value)]="option.showSection" [ngClass]="isReadOnly ? 'readonly-block' : null">
      <mat-option [value]="undefined">
        {{ 'createSurvey.createTextSelectionOptions.none' | translate }}
      </mat-option>
      <mat-option
        *ngFor="let section of sectionsToBeTriggered; let i = index"
        [value]="section.sectionNumber">
        {{ section.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button *ngIf="!isReadOnly"
  mat-button
  color="primary"
  (click)="addNewOption()"
  class="add-option-button"
>
  <mat-icon>add</mat-icon>
  <span>
    {{ 'createSurvey.createTextSelectionOptions.addOption' | translate }}
  </span>
</button>
