@import "../../../../../styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  gap: 5px;
  min-width: 300px;
  min-height: 150px;
}

.success-text {
  color: $success-color;
}

mat-icon {
  color: $success-color;
}

button {
  width: 100%;
}
