<div class="container">
    <mat-card>
      <mat-card-title>
        <h4>
          {{ 'surveyDetails.createSurveySendingPolicy.createSurveySendingPolicy' | translate }}
        </h4>
      </mat-card-title>
      <mat-card-content>
          <mat-form-field>
            <ngx-multiple-dates [matDatepicker]="picker" [placeholder]="'surveyDetails.createSurveySendingPolicy.dates' | translate"
                                [(ngModel)]="dates">
            </ngx-multiple-dates>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <app-time-ranges [timeRanges]="timeRanges" [error]="timesError"/>
          <div class="errors">
            <mat-error *ngIf="datesError">
              {{ datesError }}
            </mat-error>
            <mat-error *ngIf="overlapWithExistingError">
              {{ overlapWithExistingError }}
            </mat-error>
          </div>
          <button mat-raised-button color="primary" type="submit"
          (click)="onSubmit()">
          {{ 'surveyDetails.createSurveySendingPolicy.create' | translate }}
          </button>
      </mat-card-content>
    </mat-card>
  </div>
  