<form class="container" [formGroup]="formGroup" (submit)="submit()">
  <h3>
    {{ "sensorDevices.createNewSensor" | translate }}
  </h3>

  <mat-form-field>
    <mat-label>
      {{ "sensorDevices.sensorId" | translate }}
    </mat-label>
    <input matInput formControlName="sensorId" />
    <mat-error>
      {{ (getErrorMessage("sensorId") ?? "") | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ "sensorDevices.sensorTypeName" | translate }}
    </mat-label>
    <mat-select formControlName="sensorTypeId">
      <mat-option *ngFor="let type of sensorTypes" [value]="type.id">
        {{ type.name }}
      </mat-option>
    </mat-select>
    <mat-error>
      {{ (getErrorMessage("sensorTypeId") ?? "") | translate }}
    </mat-error>
  </mat-form-field>

  <div class="no-types-hint" *ngIf="!sensorTypes.length">
    <p>{{ "sensorDevices.noSensorTypesAvailable" | translate }}</p>
    <button type="button" mat-stroked-button (click)="goToAddSensorType()">
      {{ "sensorDevices.goToAddSensorType" | translate }}
    </button>
  </div>

  <mat-form-field>
    <mat-label>
      {{ "sensorDevices.sensorMac" | translate }}
    </mat-label>
    <input matInput formControlName="sensorMac" />
    <mat-error>
      {{ (getErrorMessage("sensorMac") ?? "") | translate }}
    </mat-error>
  </mat-form-field>

  <app-respondent-autocomplete
    [control]="respondentControl"
    (respondentsLoaded)="onRespondentsLoaded($event)"
  ></app-respondent-autocomplete>

  <mat-form-field *ngIf="bindKeyRequired">
    <mat-label>
      {{ "sensorDevices.bindKey" | translate }} *
    </mat-label>
    <input
      matInput
      type="password"
      formControlName="bindKey"
      autocomplete="new-password"
      maxlength="32"
    />
    <mat-hint>{{ "sensorDevices.bindKeyCreateHint" | translate }}</mat-hint>
    <mat-error>
      {{ (getErrorMessage("bindKey") ?? "") | translate }}
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary">
    {{ "sensorDevices.save" | translate }}
  </button>
  <button type="button" mat-stroked-button color="warn" (click)="close()">
    {{ "sensorDevices.close" | translate }}
  </button>
</form>
