<div class="container">
  <h3>
    {{ "temperature.description" | translate }}
  </h3>
  <app-temperature-data-filters
    (loadDataCallback)="loadData($event)"
    (exportDataCallback)="exportToCsv()"
    [canExport]="canExport"
    [respondents]="respondents"
  />
  <div class="table-container">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of headers" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "temperature." + column | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let answer">
          {{ getActualColumnDisplay(answer[column], column) }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
      <mat-row *matRowDef="let row; columns: headers"></mat-row>
    </mat-table>
    <h3
      *ngIf="
        !isBusy &&
        resultEntries.length === 0 &&
        !loadDataError &&
        loadedAtLeastOnce
      "
    >
      {{ "temperature.nothingToDisplay" | translate }}
    </h3>
    <h3 *ngIf="!isBusy && loadDataError">
      <mat-error>
        {{ "temperature.loadingError" | translate }}
      </mat-error>
    </h3>
    <div class="spinner-container" *ngIf="isBusy">
      <div class="loading-content">
        <mat-spinner diameter="50" />
        <div class="progress-info">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <div class="progress-text">
            <span>Downloaded: {{ formatBytes(downloadedBytes) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="paginator-container">
    <mat-paginator
      [pageSizeOptions]="[30, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
