<div class="container">
  <app-respondents-filters [filtersModel]="filters"/>
  <app-buttons-ribbon [buttons]="ribbonButtons"></app-buttons-ribbon>
  <div class="table-container">
    <mat-table [dataSource]="dataSource!" matSort class="mat-elevation-z8" *ngIf="respondents.length > 0">
      <ng-container
        *ngFor="let column of headers"
        [matColumnDef]="column"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ getActualHeaderDisplay(column) }}
        </mat-header-cell>
        <mat-cell *matCellDef="let respondent">
          {{ getActualCellDisplay(respondent, column) }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>
          {{ 'respondents.respondents.edit' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let respondent">
          <button mat-icon-button (click)="edit(respondent)" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="changePassword">
        <mat-header-cell *matHeaderCellDef>
          {{ 'respondents.respondents.changePassword' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let respondent">
          <button mat-icon-button (click)="changePassword(respondent)" aria-label="ChangePassword">
            <mat-icon>key</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="headers!.concat(['edit', 'changePassword'])"
        class="table-header"
      ></mat-header-row>

      <mat-row *matRowDef="let row; columns: headers!.concat(['edit', 'changePassword'])"></mat-row>
    </mat-table>
    <h3 *ngIf="!isBusy && respondents.length === 0 && !loadingErrorOccured">
      {{ 'respondents.respondents.nothingToDisplay' | translate }}
    </h3>
    <mat-error *ngIf="!isBusy && respondents.length === 0 && loadingErrorOccured">
      <h3>
        {{ 'respondents.respondents.errorLoadingRespondents' | translate }}
      </h3>
    </mat-error>
  </div>

  <div class="paginator-container">
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
