.container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.spacer{
    flex-grow: 1;
    margin-right: 10px;
}

.table-container{
    text-align: center;
    height: calc(100% - 264px); /* substract paginator height here */
    overflow-y: auto;
    display: block;
}

mat-header-row,
mat-header-cell {
  position: sticky;
  top: 0;
  z-index: 1;
}

.respondents-actions-cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}