<div class="container">
    <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <input matInput type="number" [(ngModel)]="model.from"
        pattern="[0-9]*">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 15px;">
        <mat-label>To</mat-label>
        <input matInput type="number" [(ngModel)]="model.to"
        pattern="[0-9]*">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 15px;">
        <mat-label>Step</mat-label>
        <input matInput type="number" [(ngModel)]="model.step">
    </mat-form-field>
</div>
