<div class="container">
  <div class="hoizontal-container">
    <mat-form-field appearance="fill">
      <mat-select [(value)]="model.from" [disabled]="isReadOnly" (selectionChange)="changed.emit()">
        <mat-option *ngFor="let from of fromOptions;" [value]="from">
          {{ from }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>
      -
    </span>
    <mat-form-field appearance="fill">
      <mat-select [(value)]="model.to" [disabled]="isReadOnly" (selectionChange)="changed.emit()">
        <mat-option *ngFor="let to of toOptions;" [value]="to">
          {{ to }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="hoizontal-container">
    <span>
      {{model.from}}
    </span>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="model.fromLabel" maxlength="50" [readonly]="isReadOnly"
      [placeholder]="translate.instant('createSurvey.createNumberRange.labelOptional')" (change)="changed.emit()"/>
    </mat-form-field>
  </div>
  <div class="hoizontal-container">
    <span>
      {{model.to}}
    </span>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="model.toLabel" maxlength="50" [readonly]="isReadOnly"
      (change)="changed.emit()"
      [placeholder]="translate.instant('createSurvey.createNumberRange.labelOptional')"/>
    </mat-form-field>
  </div>
</div>
