.vertical-middle{
    vertical-align: middle;
}

.spacer{
    width: 10px;
}

.container{
  height: calc(100% - 64px);
}

.mat-icon{
    vertical-align: middle;
    margin-right: 15px;
}

.toolbar {
    position: sticky;
    top: 0;
    z-index: 3;
}

mat-drawer-content{
    overflow: auto;
    /* TODO change this not to be hardcoded!!!!*/
    background-color: #ffffff;
}

mat-toolbar span{
    font-weight: 600;
    font-size: 20px;
}

.flag-and-text {
    display: flex;
    align-items: center;
}

.flag {
    margin-right: 8px; 
    width: 20px;
    height: auto;
}

.spacer{
    flex-grow: 1;
}