<div class="container">
  <app-map-filters
    (loadDataCallback)="loadData($event)"
    [respondents]="respondents"
    [surveys]="surveys"
    [canExport]="locationData.length > 0"
    (exportDataCallback)="exportData()"
  />
  <div style="height: 10px"></div>

  <div class="spinner-container" *ngIf="isBusy">
    <div class="loading-content">
      <mat-spinner diameter="50" />
      <div class="progress-info">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div class="progress-text">
          <span>Downloaded: {{ formatBytes(downloadedBytes) }}</span>
        </div>
      </div>
    </div>
  </div>

  <div id="map"></div>
</div>
