<form class="container" [formGroup]="formGroup" (submit)="save()">
  <h3>
    {{ "sensorDevices.editSensorMac" | translate }}
  </h3>

  <mat-form-field>
    <mat-label>
      {{ "sensorDevices.sensorId" | translate }}
    </mat-label>
    <input matInput formControlName="sensorId" [readonly]="true" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ "sensorDevices.sensorTypeName" | translate }}
    </mat-label>
    <mat-select formControlName="sensorTypeId">
      <mat-option *ngFor="let type of sensorTypes" [value]="type.id">
        {{ type.name }}
      </mat-option>
    </mat-select>
    <mat-error>
      {{ "sensorDevices.fieldIsRequired" | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ "sensorDevices.sensorMac" | translate }}
    </mat-label>
    <input matInput formControlName="sensorMac" maxlength="17" />
    <mat-error>
      {{ getMacError() | translate }}
    </mat-error>
  </mat-form-field>

  <app-respondent-autocomplete
    [control]="respondentControl"
    (respondentsLoaded)="onRespondentsLoaded($event)"
  ></app-respondent-autocomplete>

  <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid || isBusy">
    {{ "sensorDevices.save" | translate }}
  </button>

  <button mat-stroked-button color="warn" type="button" (click)="close()">
    {{ "sensorDevices.cancel" | translate }}
  </button>
</form>
