<div class="container">
  <h3>
    {{ "respondents.changePassword.changePassword" | translate }}
  </h3>
  <form class="data-container" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>
        {{ "respondents.changePassword.newPassword" | translate }}
      </mat-label>
      <input
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="newPassword"
      />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>
          {{ isPasswordVisible ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      <mat-error>
        {{ getErrorMessage('newPassword') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{ "respondents.changePassword.confirmNewPassword" | translate }}
      </mat-label>
      <input
        matInput
        type="password"
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="confirmNewPassword"
      />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>
          {{ isPasswordVisible ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      <mat-error>
        {{ getErrorMessage('confirmNewPassword') }}
      </mat-error>
    </mat-form-field>
  </form>
  <div class="buttons-panel">
    <button mat-stroked-button color="warn" (click)="cancel()">
      {{ "respondents.edit.cancel" | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="submit()">
      {{ "respondents.edit.save" | translate }}
    </button>
  </div>
</div>
