.container {
    display: flex;
    min-width: 400px;
    max-width: 400px;
    flex-direction: column;
    gap: 10px;
}

.buttons-panel{
    display: flex;
    gap: 10px;
    justify-content: stretch;
    width: 100%;
}

.buttons-panel button {
    flex-grow: 1;
}

.data-container{
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    overflow-y: scroll;
}