<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <div class="two-columns-row">
                <div class="two-columns-row-item">
                    <mat-form-field appearance="fill" class="full-width">
                        <input matInput maxlength="250" [(ngModel)]="question!.content"/>
                    </mat-form-field>
                </div>
                <div class="two-columns-row-item">
                    <mat-form-field appearance="outline" class="question-type-selector">
                        <mat-select [(value)]="question!.type">
                            <mat-select-trigger>
                                <mat-icon>{{ questionTypeIconSelector[question!.type] }}</mat-icon>
                                {{ questionTypeDisplaySelector[question!.type] }}
                            </mat-select-trigger>
                          <mat-option *ngFor="let type of allQuestionTypes"
                          [value]="type">
                            <mat-icon>{{ questionTypeIconSelector[type] }}</mat-icon>
                            {{ questionTypeDisplaySelector[type] }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <app-create-text-selection-options [options]="question!.options"
            *ngIf="question!.type == 0" [sectionsToBeTriggered]="sectionsToBeTriggered"/>
            <app-create-number-range *ngIf="question!.type == 1"
            [model]="question!.numberRange" [sectionsToBeTriggered]="sectionsToBeTriggered"/>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button color="primary">
                <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-button color="primary" 
            (click)="remove()">
                <mat-icon>delete_outline</mat-icon>
             </button>
             <mat-slide-toggle labelPosition="before" [(ngModel)]="question!.isRequired"
                color="primary">
                    Wymagane
                </mat-slide-toggle>
        </mat-card-footer>
    </mat-card>
</div>