<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <div class="two-columns-row">
                <div class="two-columns-row-item">
                    <mat-form-field appearance="fill" class="full-width">
                        <input matInput maxlength="250" [(ngModel)]="question!.content"
                        [errorStateMatcher]="contentErrorStateMatcher"
                        [readonly]="isReadOnly"
                        (blur)="validateContent()"/>
                        <mat-error *ngIf="contentError != null">
                            {{ contentError }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="two-columns-row-item">
                    <mat-form-field appearance="outline" class="question-type-selector">
                        <mat-select [(value)]="question!.type" [ngClass]="isReadOnly ? 'readonly-block' : null">
                            <mat-select-trigger>
                                <mat-icon>{{ questionTypeIconSelector[question!.type] }}</mat-icon>
                                {{ questionTypeDisplay[question!.type] | translate }}
                            </mat-select-trigger>
                          <mat-option *ngFor="let type of allQuestionTypes"
                          [value]="type">
                            <mat-icon>{{ questionTypeIconSelector[type] }}</mat-icon>
                            {{ questionTypeDisplay[type] | translate }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <app-create-text-selection-options [options]="question!.options"
            [sectionsToBeTriggered]="sectionsToBeTriggered"
            *ngIf="question!.type == QuestionType.SINGLE_TEXT_SELECTION || question!.type == QuestionType.MULTIPLE_CHOICE"
            [isReadOnly]="isReadOnly"/>
            <app-create-number-range *ngIf="question!.type == QuestionType.DISCRETE_NUMBER_SELECTION"
            [model]="question!.numberRange" [sectionsToBeTriggered]="sectionsToBeTriggered"
            [isReadOnly]="isReadOnly"/>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button color="primary">
                <mat-icon>content_copy</mat-icon>
            </button>
            <button *ngIf="!isReadOnly"
            mat-button color="primary" 
            (click)="remove()">
                <mat-icon>delete_outline</mat-icon>
             </button>
             <mat-slide-toggle [ngClass]="isReadOnly ? 'readonly-block' : null" 
                labelPosition="before" [(ngModel)]="question!.isRequired"
                color="primary">
                {{ 'createSurvey.createQuestion.required' | translate }}
            </mat-slide-toggle>
        </mat-card-footer>
    </mat-card>
</div>