<div *ngIf="imageOptions" class="container">
    <app-image-upload *ngFor="let imageOption of imageOptions" [imageOption]="imageOption" [allImageOptions]="imageOptions"/>
    <button mat-stroked-button color="primary" class="big-button"
        (click)="addImageOption()">
        <div class="button-content">
          <mat-icon class="button-icon">add</mat-icon>
          <span class="button-label">{{ 'createSurvey.createImageOptions.addImage' | translate}}</span>
        </div>
    </button>
</div>
