<div class="container">
  <form (ngSubmit)="submit()" class="form-container" [formGroup]="form!">
    <mat-form-field appearance="outline" class="amount-input">
        <mat-label> {{ 'respondents.addRespondents.quantity' | translate }} </mat-label>
        <input matInput type="number" formControlName="amount" [(ngModel)]="dto.amount">
        <mat-error *ngIf="form?.invalid">{{ 'respondents.addRespondents.validationError' | translate }}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary">{{ 'respondents.addRespondents.create' | translate }}z</button>
  </form>
  <button mat-button color="primary" class="copy-to-clipboard"
  [disabled]="accounts.length === 0" (click)="copyToClipboard()">
  {{ 'respondents.addRespondents.copyToClipboard' | translate }} <mat-icon>content_copy</mat-icon>
  </button>
</div>