<div class="container">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="model.name"/>
    </mat-form-field>
    <h1>
        Sections:
    </h1>
    <button *ngIf="model.sections.length === 0"
    mat-button color="primary"
    class="create-section-button"
    (click)="addSection(0)">
        Add section
    </button>
    <app-create-section *ngFor="let section of model.sections" 
    (addSectionBelowEvent)="addSectionBelow($event)"
    (removeSectionEvent)="removeSection($event)"
    [section]="section"/>
</div>